---
import { IconBrandLinkedin } from "@tabler/icons-react";

interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<a
  href="https://www.linkedin.com/in/dylan-gonz%C3%A1lez-623706161/"
  target="_blank"
  class={`${classes} flex justify-center items-center w-8 h-8 md:w-12 md:h-12 rounded-full text-white bg-gradient-to-br from-cyan-700 to-blue-900 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800`}
>
  <IconBrandLinkedin stroke={1} className="w-[90%] h-[90%]" />
</a>
