---
import Header from "../components/Header.astro"
import Profile from "../components/Profile.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Dylan Gonzalez | Portfolio">
  <Header />
  <main class="mt-32">
    <Profile />
  </main>
</Layout>
