---
import Logo from "./Logo.astro"
---

<nav
  class="bg-slate-900/45 backdrop-blur-md p-3 rounded-full fixed left-1/2 transform -translate-x-1/2 text-white flex gap-24 top-8"
>
  <Logo />

  <ul class="flex justify-center items-center gap-10">
    <li class="transform transition duration-300 hover:scale-110">
      <a href="#">Experiencia</a>
    </li>
    <li class="transform transition duration-300 hover:scale-110">
      <a href="#">Proyectos</a>
    </li>
    <li class="transform transition duration-300 hover:scale-110">
      <a href="#">Contacto</a>
    </li>
  </ul>
</nav>
