---
interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<a
  href="/#"
  class={`transform transition duration-300 hover:scale-110 mb-2 md:mb-0 text-center md:text-start md:ml-2 hover:cursor-pointer text-xl`}
>
  <code class={`${classes} font-bold`}>&lt;y/&gt;</code>
</a>
