---
import { IconDownload } from "@tabler/icons-react";
import LinkedIn from "./social/LinkedIn.astro";
import Instagram from "./social/Instagram.astro";
import Github from "./social/Github.astro";
import ContactBtn from "./ContactBtn.astro";
---

<div
  class="flex flex-col-reverse gap-10 md:grid md:grid-cols-3 items-center justify-center w-full md:max-w-5xl m-auto overflow-auto p-4"
>
  <div
    class="absolute inset-0 -z-10 size-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
  >
  </div>
  <div class="md:col-span-2 flex gap-4 flex-col">
    <div class="mx-4 md:mx-0">
      <h1 class="md:text-3xl text-center md:text-start text-white">
        Hola soy Dylan <span
          class="inline-block transform transition duration-300 hover:scale-150 hover:-rotate-45 hover:cursor-pointer"
          >🖐️</span
        >😄 <span class="text-green-500/80 font-sans">FullStack Developer</span>
      </h1>
      <p class="md:text-3xl text-center md:text-start mt-5 md:mt-10 text-white">
        Me especializo en la creación de soluciones digitales modernas,
        eficientes y escalables, combinando un sólido conocimiento en
        tecnologías frontend y backend con <span
          class="font-bold font-sans text-green-500/80">+4</span
        > años de experiencia para entregar productos de alta calidad.
      </p>
    </div>
    <div class="flex gap-8 mx-2 md:mx-0">
      <ContactBtn
        title="Contactar"
        classes="w-full gap-2 flex justify-center items-center"
      />
      <a
        download="CV-Dylan-Gonzalez.pdf"
        href="/CV-Dylan-Gonzalez.pdf"
        class="flex justify-center items-center gap-4 bg-green-700 w-full h-12 rounded-lg text-md md:text-xl hover:cursor-pointer font-bold hover:bg-green-500/90 transition delay-100 text-white"
      >
        <IconDownload stroke={2} />
        <span>CV</span>
      </a>
    </div>
  </div>
  <div class="flex items-center justify-center relative">
    <div class="w-[200px] h-[200px] md:w-[300px] md:h-[300px]">
      <img
        src="/profile.jpg"
        class="bg-slate-900/45 backdrop-blur-md rounded-full w-full h-full"
      />
    </div>
    <LinkedIn
      classes="absolute -bottom-[calc(10%)] left-[calc(70%)] -translate-y-1/2 transform -translate-x-1/2"
    />
    <Instagram
      classes="absolute bottom-[calc(0%)] left-[calc(86%)] -translate-y-1/2 transform -translate-x-1/2"
    />
    <Github
      classes="absolute bottom-[calc(16%)] left-[calc(95%)] -translate-y-1/2 transform -translate-x-1/2"
    />
  </div>
</div>
