---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="relative flex flex-col items-center justify-center w-full m-auto overflow-hidden"
>
  <h2 class="mt-40 text-xl md:text-4xl font-sans mb-20">{title}</h2>
  <slot />
</section>
